/* h1 {
  font-family: var(--h1-font-family);
  font-size: var(--h1-size);
  color: var(--h1-color);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
h2 {
  font-family: var(--h2-font-family);
  font-size: var(--h2-size);
  color: var(--h2-color);
  font-weight: var(--h2-weight);
  line-height: var(--h2-line-height);
}
h3 {
  font-family: var(--h3-font-family);
  font-size: var(--h3-size);
  color: var(--h3-color);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line-height);
}

div,
p,
a {
  font-family: var(--primary-body-regular-font-family);
  font-size: var(--primary-body-regular-size);
  color: var(--primary-body-regular-color);
  font-weight: var(--primary-body-regular-weight);
  line-height: var(--primary-body-regular-line-height);
}

dialog {
  color: var(--primary-color);
  border-radius: var(--border-radius-l);
}

button {
  font-family: var(--primary-body-medium-font-family);
  font-size: var(--primary-body-medium-size);
  color: var(--primary-body-medium-color);
  font-weight: var(--primary-body-medium-weight);
  line-height: var(--primary-body-medium-line-height);
} */
/* 
@font-face {
  font-family: Sensation;
  src: url(sansation_light.woff);
} */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

:root {
  /* Colors */
  --primary-color: #0057b8;
  --primary-foreground-color: white;

  --primary-color-100: #0057b8;

  --secondary-color: #02963f;
  --secondary-foreground-color: white;

  --neutral-color: #e2e3e3;
  --neutral-foreground-color: #051221;

  --secondary-color-600: #336f91;
  --accent-color: #31519e;
  --background-color-500: #ebebe2;
  --background-color-400: #f3f3ed;
  --neutral-color-900: #051221;
  --neutral-color-600: #6e6e74;
  --neutral-color-500: #93939a;
  --neutral-color-300: #d4d4d7;
  --neutral-color-0: #ffffff;

  --alert-color-info: #73cacc;
  --alert-color-success: #88d182;
  --alert-color-warning: #eeb52f;
  --alert-color-error: #c6006a;
  --link-color: var(--accent-color);
  --link-hover-color: var(--secondary-color);

  --text-font-family: 'Roboto';
  --heading-font-family: 'Roboto';

  /* Fonts */
  --h1-size: 3.9rem;
  --h1-font-family: var(--heading-font-family);
  --h1-weight: medium;
  --h1-line-height: 4.6rem;
  --h1-color: var(--primary-color);

  --h2-size: 28px;
  --h2-font-family: var(--heading-font-family);
  --h2-weight: 600;
  --h2-line-height: 2.2rem;
  --h2-color: black; /*var(--primary-color);*/

  --h3-size: 21px;
  --h3-font-family: var(--heading-font-family);
  --h3-weight: 600;
  --h3-line-height: 1.8rem;
  --h3-color: black; /*var(--primary-color);*/

  --h4-size: 17px;
  --h4-font-family: var(--heading-font-family);
  --h4-weight: 300;
  --h4-line-height: 1.8rem;
  --h4-color: var(--primary-color);

  --h5-size: 1.1rem;
  --h5-font-family: var(--heading-font-family);
  --h5-weight: medium;
  --h5-line-height: 1.6rem;
  --h5-color: var(--primary-color);

  --h6-size: 1rem;
  --h6-font-family: var(--heading-font-family);
  --h6-weight: bold;
  --h6-line-height: 1.6rem;
  --h6-color: var(--primary-color);

  --primary-body-regular-size: 16px;
  --primary-body-regular-font-family: var(--text-font-family);
  --primary-body-regular-weight: 300;
  --primary-body-regular-line-height: 1.5;
  --primary-body-regular-color: var(--primary-color);

  --primary-body-medium-size: 1rem;
  --primary-body-medium-font-family: var(--text-font-family);
  --primary-body-medium-weight: 300;
  --primary-body-medium-line-height: 1.6rem;
  --primary-body-medium-color: var(--primary-color);

  /* Spacing */
  --border-radius-l: 20px;
  --border-radius-m: rounded;
  --border-xs: 1px;
  --border-s: 2px;
  --border-m: 3px;
  --max-content-width: 940px;
  --section-bottom-space: 100px;
  --space-none: none;
  --space-small: 50px;
  --space-large: 100px;
  --grid-space-left-right: 70px;

  /* Navigation */
  --nav-logo-height: 60px;
  --nav-font-family: var(--text-font-family);
  --nav-font-size: 14px;
  --nav-foreground-color: var(black);
  --nav-padding-top-bottom: 10px;
  --nav-padding-left-right: 30px;

  /*Header*/

  --header-default-height: 320px;

  /*footer*/

  --loading-color: pink;
  --loading-spinner-color: var(--loading-color);

  --footer-padding-top-bottom: 15px;
  --footer-padding-left-right: 30px;
  --footer-background-color: var(--primary-color);
  --footer-foreground-color: white;
  --footer-max-width: var(--max-content-width);

  /* Decorations */
  --core-shadow-plus-10: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  --core-shadow-plus-20: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);

  --link-text-decoration: none;
  --link-hover-text-decoration: 'underline';

  /* Componenten */
  /* --------
      BUTTONS
     -------- */
  /* Primary Button */
  --primary-button-default-font-family: var(--primary-body-medium-font-family);
  --primary-button-default-font-size: var(--primary-body-medium-size);
  --primary-button-default-font-weight: 700; /* var(--primary-body-medium-weight);*/
  --primary-button-default-line-height: var(--primary-body-medium-line-height);
  --primary-button-default-foreground-color: white; /*var(--primary-body-medium-color);*/
  --primary-button-default-background-color: var(
    --primary-color
  ); /*var(--primary-body-medium-color);*/
  --primary-button-default-box-shadow: none;
  --primary-button-default-border-color: none; /*var(--primary-button-default-background-color);*/
  --primary-button-default-border: none;
  --primary-button-default-inner-spacing: 20px;
  /* Different States only Variables, that changed */
  --primary-button-hover-box-shadow: var(--core-shadow-plus-10);
  --primary-button-pressed-foreground-color: var(--secondary-color-600);
  --primary-button-disabled-foreground-color: var(--neutral-color-600);
  --primary-button-disabled-background-color: var(--background-color-500);
  --primary-button-focused-border-color: var(--secondary-color);
  --primary-button-focused-border: var(--border-m);
  --primary-button-default-border-radius: 2px;

  /* Secondary Button */
  --secondary-button-default-font-family: var(
    --primary-body-medium-font-family
  );
  --secondary-button-default-font-size: var(--primary-body-medium-size);
  --secondary-button-default-font-weight: var(--primary-body-medium-weight);
  --secondary-button-default-line-height: var(
    --primary-body-medium-line-height
  );
  --secondary-button-default-foreground-color: var(--primary-color, #0057b8);
  --secondary-button-default-background-color: white;
  --secondary-button-default-box-shadow: none;
  --secondary-button-default-border-color: var(--primary-color);
  --secondary-button-default-border: solid var(--border-xs);
  --secondary-button-default-border-radius: 2px;
  --secondary-button-default-inner-spacing: 10px;

  /* Different States only Variables, that changed */
  --secondary-button-hover-box-shadow: var(--core-shadow-plus-10);
  --secondary-button-pressed-foreground-color: var(--secondary-color-600);
  --secondary-button-disabled-foreground-color: var(--neutral-color-600);
  --secondary-button-disabled-background-color: var(--background-color-500);
  --secondary-button-focused-border-color: var(--secondary-color);
  --secondary-button-focused-border: var(--border-m);

  --light-button-default-foreground-color: black;
  --light-button-default-background-color: white;

  /* --------
      CARDS
     -------- */
  --primary-card-border-box-shadow: var(--core-shadow-plus-10);
  --primary-card-border-color: #c9c7c7;
  --primary-card-border: solid 1px;
  --primary-card-padding: 15px;
  --primary-card-layout: 'card-image' 'card-header' 'card-content' 'card-meta'
    'card-footer';
  --primary-card-header-padding: 10px 15px 0px 15px;
  --primary-card-content-padding: 0px 15px;
  --primary-card-meta-margin: 0px 0px 0px 0px;
  --primary-card-content-margin: 0px 0px 0px 0px;

  /* --------
      EPART NAVIGATION
     -------- */
  --navigation-background-color: var(--neutral-color-0);
  --navigation-item-color: var(--primary-color);
  --navigation-icon-color: var(--primary-color);
  --navigation-icon-hover-color: var( --navigation-item-hover-color);
  --navigation-item-hover-color: red;

}


a {
  text-decoration: var(--link-text-decoration);
}

a:hover{
  text-decoration: var(--link-hover-text-decoration);
 }