:root {
  --primary-color: #09086c;
  --secondary-color: #fff26a;
  --accent-color: #bbe3b8;
  --background-color-500: #ebebe2;
  --background-color-400: #f3f3ed;
  --footer-color: #303d6c;
  --neutral-color-900: #051221;
  --neutral-color-600: #6e6e74;
  --neutral-color-500: #93939a;
  --neutral-color-0: #ffffff;
  --alert-color-info: #73cacc;
  --alert-color-success: #88d182;
  --alert-color-warning: #eeb52f;
  --alert-color-error: #c6006a;

  --h1-L-size: 3.9rem;
  --h1-L-font-family: SangBleu Kingdom;
  --h1-L-color: var(--primary-color);
  --h1-L-weight: medium;
  --h1-L-line-height: 4.6rem;

  --h2-L-size: 1.7rem;
  --h2-L-font-family: SangBleu Kingdom;
  --h2-L-color: var(--primary-color);
  --h2-L-weight: bold;
  --h2-l-line-height--: 2.2rem;

  --h3-L-size: 1.3rem;
  --h3-L-font-family: Roboto;
  --h3-L-color: var(--primary-color);
  --h3-L-weight: bold;
  --h3-l-line-height: 1.8rem;

  --h5-L-size: 1.1rem;
  --h5-L-font-family: SangBleu Kingdom;
  --h5-L-color: var(--primary-color);
  --h5-L-weight: medium;
  --h5-l-line-height: 1.6rem;

  --h6-L-size: 1rem;
  --h6-L-font-family: SangBleu Kingdom;
  --h6-L-color: var(--primary-color);
  --h6-L-weight: bold;
  --h6-l-line-height: 1.6rem;

  --border-radius-l: 20px;
  --border-radius-m: rounded;
  --border-xs: 1px;
  --border-s: 2px;
  --border-m: 3px;
}
