/* h1 {
  font-family: var(--h1-font-family);
  font-size: var(--h1-size);
  color: var(--h1-color);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
h2 {
  font-family: var(--h2-font-family);
  font-size: var(--h2-size);
  color: var(--h2-color);
  font-weight: var(--h2-weight);
  line-height: var(--h2-line-height);
}
h3 {
  font-family: var(--h3-font-family);
  font-size: var(--h3-size);
  color: var(--h3-color);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line-height);
}

div,
p,
a {
  font-family: var(--primary-body-regular-font-family);
  font-size: var(--primary-body-regular-size);
  color: var(--primary-body-regular-color);
  font-weight: var(--primary-body-regular-weight);
  line-height: var(--primary-body-regular-line-height);
}

dialog {
  color: var(--primary-color);
  border-radius: var(--border-radius-l);
}

button {
  font-family: var(--primary-body-medium-font-family);
  font-size: var(--primary-body-medium-size);
  color: var(--primary-body-medium-color);
  font-weight: var(--primary-body-medium-weight);
  line-height: var(--primary-body-medium-line-height);
} */
/* 
@font-face {
  font-family: Sensation;
  src: url(sansation_light.woff);
} */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

a {
  text-decoration: var(--link-text-decoration);
}

a:hover {
  text-decoration: var(--link-hover-text-decoration);
}
